* {
padding: 0;
margin: 0;
}

.body {
    background:url(../snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg); 
     min-height: 100vh;
     background-size: 100vw 100vh;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;

}

#board {
    background:linear-gradient(rgb(170, 212, 170), rgb(238, 238, 108)) ;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(241, 87, 87), rgb(230, 230, 117));
    border: 2px solid rgb(15, 6, 15);
    transform: scale(1.02);
    border-radius: 9px; 

}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background:linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;

}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size:39px ;
    font-weight: bold;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 140px;
    font-size:39px ;
    font-weight: bold;
    
}